*,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

/*Common & generals*/
.container {
  width: 80%;
  margin: auto;
}

.pd-y {
  padding: 100px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

/*End Common & Generals*/

/* Section Conard*/
section.conrad {
  width: 100%;
  height: 600px;
  color: #fff;
  background-image: url(../media/pro6/slide-1-fs.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

.conrad .conrad-content {
  overflow: hidden;
}

.conrad-content .logo {
  width: 50%;
  float: left;
}

.conrad-content .logo .logo-title {
  text-transform: uppercase;
}

.conrad-content .nav-list {
  width: 50%;
  float: left;
}

.nav-list .list li {
  display: inline-block;
  list-style: none;
}

.nav-list > .list > li > a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  padding: 15px 10px;
  text-transform: capitalize;
  text-align: right;
  position: relative;
}

.nav-list > .list > li > a::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  top: 78%;
  left: 8px;
  background-color: rgb(153, 143, 143);
  transition: width 500ms ease-in-out;
}

.nav-list > .list > li > a:hover::after {
  width: 80%;
}

.home-desc {
  width: 350px;
  margin-top: 15%;
}

.home-desc .desc {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 50px;
}

.desc-two .desc-span {
  transition: all 1s ease-in-out;
}

.home-desc .desc-two:hover .desc-span {
  display: inline-block;
  transform: rotate(360deg);
}

/*End Section Conard*/

/*About Section*/
.about-content {
  overflow: hidden;
}

.about-content .creative,
.about-content .awesome,
.about-content .office {
  width: 30%;
  float: left;
}

.about-content .awesome {
  margin: 0 3%;
}

.about-content .awesome .awesome-img,
.about-content .office .office-img {
  width: 100%;
}

.about-content .awesome .awesome-img img,
.about-content .office .office-img img {
  width: 100%;
  background-size: cover;
}

.about-content .creative .creative-title {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.about-content .creative .creative-desc {
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 2px;
  color: #444;
}

.about-content .creative .creative-desc span {
  font-weight: bold;
}

.about-content .creative .creative-desc.mg {
  margin: 20px 0;
}

.about-content .creative .creative-desc.desc2 {
  margin: 35px 0;
  color: #888;
}

.creative .btn-more {
  border: 0;
}

.creative .btn-more a {
  text-decoration: none;
  color: #777;
}

.creative .btn-more a:hover {
  color: #000;
}

.awesome .awesome-title,
.office .office-title {
  margin: 15px 0;
  color: #666;
}

.awesome .awesome-desc,
.office .office-desc {
  color: #999;
  font-size: 14px;
  line-height: 1.3;
}

.awesome-img,
.office-img {
  overflow: hidden;
  position: relative;
}

.awesome .awesome-img img,
.office .office-img img {
  transition: all 1s ease-in-out;
}

.awesome .awesome-img,
.office .office-img {
  overflow: hidden;
}

.awesome .awesome-img:hover img,
.office .office-img:hover img {
  transform: scale(1.4);
}

.awesome .awesome-img:hover > .overlay,
.office .office-img:hover > .overlay {
  display: block;
  transition-delay: 1s;
}

/*End About Section*/

/*Section Folio*/
.folio {
  width: 100%;
  height: 600px;
}

.folio-img {
  width: 100%;
  height: 550px;
  background-image: url(../media/pro6/slide-7-fw.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  position: relative;
}

.folio-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  color: white;
  line-height: 1.5;
  text-transform: capitalize;
}

.folio-content .folio-title {
  margin: 20px 0;
  font-weight: normal;
}

.folio-content .folio-desc {
  font-weight: bold;
  margin-bottom: 10px;
}

.folio-content .folio-author {
  font-style: italic;
  font-size: 13px;
}

/*End Section Folio*/

/*Solution Section*/
.solution {
  width: 100%;
  height: 450px;
}

.solution .solution-content {
  overflow: hidden;
}

.solution-content .solution-tailer {
  width: 48%;
  float: left;
}

.solution-tailer .title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 3%;
}

.solution-tailer .desc {
  word-spacing: 2px;
  line-height: 1.3;
  text-transform: capitalize;
  margin: 5% 0;
}

.solution-tailer .desc.desc-one {
  font-weight: bold;
}

.solution-tailer .desc.desc-two {
  color: #999;
}

.solution-tailer .btn-more {
  border: 0;
  outline: none;
}

.solution-tailer .btn-more a {
  text-decoration: none;
  color: #ccc;
}

.solution-content .accordion {
  width: 48%;
  float: left;
  margin-left: 4%;
}

.solution-content .accordion .title {
  text-transform: capitalize;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  margin-bottom: 2%;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.solution-content .accordion .desc {
  text-transform: capitalize;
  margin-bottom: 1%;
  background-color: #ddd;
  color: #555;
  display: none;
}

/*End Solution Section*/

/* Study Section*/
.study {
  width: 100%;
  height: 450px;
  background-color: #e62739;
}

.study .app {
  width: 50%;
  height: 450px;
  float: left;
  color: #fff;
}

.app .app-title {
  padding-top: 20%;
  text-transform: capitalize;
}

.app .app-desc {
  margin: 7% 0;
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize;
  line-height: 1.4;
}

.app p a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}

.study .download {
  width: 50%;
  height: 450px;
  float: right;
  background: url(../media/pro6/hero-half-3.jpg);
  background-size: cover;
}

.study .download .number {
  width: 50%;
  height: 300px;
  margin: 20% auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.download .number .left,
.download .number .right {
  width: 50%;
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.download .number .left .left-desc,
.download .number .right .right-desc {
  margin-bottom: 5%;
  font-size: 2.5rem;
}

.download .number .left .left-span,
.download .number .right .right-span {
  text-transform: capitalize;
  font-size: 20px;
}

/*End Study Section*/

/*Recent Section*/
.recent {
  width: 100%;
  height: 650px;
  margin-bottom: 13%;
}

.recent .center {
  text-align: center;
}

.center .center-list {
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 2%;
}

.center button {
  outline: none;
  border: 0;
  width: 200px;
  background-color: #b9b7e0;
  padding: 10px 15px;
  margin: 2% 0;
}

.recent .myImages {
  width: 100%;
  display: flex;
  justify-content: center;
}

.myImages .left-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImages .left-content .left-display,
.myImages .left-content .left-corner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
}

.myImages .left-content .left-display img,
.myImages .left-content .left-corner img {
  width: 100%;
  background-size: cover;
}

.myImages .right-content {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: start;
}

.myImages .right-content .right-corner {
  display: flex;
  justify-content: center;
}

.myImages .right-content .right-display img,
.myImages .right-content .right-corner img {
  width: 100%;
  background-size: cover;
}

/*End Recent Section*/

/*Clients Section*/
.clients {
  width: 100%;
  height: 100px;
  margin-top: 25%;
  background: #9068be;
  color: #fff;
}

.clients .client {
  width: 20%;
  float: left;
}

.clients .client-content .client > h2 {
  color: #fff;
  margin: 10px 0;
}

.clients .client p {
  line-height: 2;
  text-transform: capitalize;
  font-size: 23px;
  margin: 5px 0;
}

.clients .client span {
  font-size: 15px;
  margin: 5px 0;
}

/*End Clients Section*/

/*Footer Section */
.footer {
  width: 100%;
  height: 300px;
  background: #222;
  color: #fff;
  padding-top: 20px;
  position: absolute;
}

.footer-content {
  overflow: hidden;
}

.footer-content .conrad {
  margin: 3% 0;
  width: 23%;
  float: left;
  margin-left: 2%;
}

.footer-content .conrad h2 {
  margin: 6% 0;
  text-align: left;
}

.footer-content .conrad h3 {
  margin: 6% 0;
}

.footer-content .conrad a {
  text-decoration: none;
  display: block;
  color: #888;
  line-height: 2;
}

.footer-content .conrad p {
  line-height: 2.5;
  color: #888;
}

.footer-content .conrad input:nth-of-type(1),
.footer-content .conrad input:nth-of-type(2) {
  display: block;
  background: none;
  margin-bottom: 3%;
  padding: 10px;
  color: #fff;
  border: 0;
  border: transparent;
  border-bottom: 1px solid #888;
}

.footer-content .conrad input:nth-of-type(3) {
  text-transform: capitalize;
  padding: 5px 8px;
  margin-bottom: 3%;
  background-color: #888;
  border: 0;
}

.footer-content .conrad span {
  font-size: 13px;
  font-style: italic;
}

.footer .final-footer {
  width: 100%;
  height: 75px;
  background-color: #000;
  position: absolute;
  top: 95%;
  line-height: 75px;
  overflow: hidden;
}

.final-footer .left-footer {
  float: left;
}

.final-footer .left-footer .icon {
  margin: 0 1%;
}

.final-footer .right-footer {
  float: right;
}

.final-footer .right-footer .myTop {
  text-decoration: none;
  color: #fff;
}

/*End Footer Section*/
